@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --background:#0E040E;
    --text: #FDFFFF;
}

body{
    background-color: var(--text);
    color: #362837;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content img.background{
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -100;
}

.NCcol1,
.NCcol2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 5%;
}

.NCcol1{
    align-items: flex-start;
    gap: 10px;
}

/*cart items stylings*/

.cartitems{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cart-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(54, 40, 55, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    padding: 20px;
    gap: 30px;
}

/*button stylings*/

.cart-item .details button{
    background-color: #BD2E31;
    color: var(--text);
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.content .NCcol1 button.clear{
    background-color: #BD2E31;
    color: var(--text);
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.content .NCcol2 button.check{
    background-color: #478E28;
    color: var(--text);
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}