.payment-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
}

.billing-info {
    width: 60%;
    padding: 20px;
    background: #DED6DE;
    border: 4px solid #0E040E;
    border-radius: 5px;
}

.billing-info form {
    display: flex;
    flex-direction: column;
}

.billing-info input {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #4E394F;
    border: 1px solid #FDFFFF;
    background: #FDFFFF;
    border-radius: 20px;
}

.billing-info button{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    letter-spacing: 5px;
    color: #FDFFFF;
    border: 2px solid #FDFFFF;
    background: #4E394F;
}

.box{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2%;
    border-radius: 20px;
    color: #FDFFFF;
    background: #4E394F;
    padding: 0px 7px;
    align-items: center;
    gap: 8px;
}

.card-type {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.card-type img{
    zoom: 0.3;
}

.expiry-cvv {
    display: flex;
    justify-content: space-between;
}
#expiry-date{
    width: 60%;
}
#cvv{
    width: 25%;
}

.illustration {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.illustration-img{
    height: 50%;
}
.illustration img{
    width: 100%;
}