.nav-arrow-left {
    position: relative;
    display: flex;
    top: 20px;
    left: 20px;
    border: none;
    cursor: pointer;
    color: #362837;
    background-color: white;
    font-size: 30px;
    height: 30px;
}

.container {
    display: flex;
}

.left-container {
    width: 60%;
}

.right-container {
    width: 40%;
    padding: 10px;
}

.dark-box {
    background-color: #AC9EAD;
    padding: 15px;
    border-radius: 5px;
}

.db-topic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #362837;
    margin-bottom: 20px;
}

.review-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}

.review-box {
    background-color: #362837;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.review-row {
    display: flex;
    margin-left: 7px;
    margin-right: 7px;
    justify-content: space-between;
    align-items: center;
}

.review-percentage {
    color: #63AC43;
    font-size: 10px;
    font-family: "Kanit", sans-serif;
}

.review-average {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #AC9EAD;
}

.review-bar {
    height: 10px;
    background: linear-gradient(to right, #f0c14b, #63AC43);
    border-radius: 5px;
    box-sizing: border-box;
}

.status {
    color: #63AC43;
}

.star {
    font-size: 24px;
    color: yellow;
    margin-left: 5px;
    zoom: 150%;
}

.top-container {
    display: flex;
    width: 100%;
}

.review-display {
    width: 100%;
    justify-items: center;
    margin-top: 15px;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #362837;
}

.ovr-rating {
    font-size: 70px;
}

.no-reviews {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 10px;
}

.mid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #DED6DE;
    padding: 7px;
    border-radius: 5PX;
}

.mc-text {
    margin-left: 30px;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #362837;
}

.add-review-button {
    font-family: "Kanit", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #362837;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    padding: 5PX;
}

.review-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.profile-pic img {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: #362837;
    margin-right: 20px;
}

.username {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.date-time-container {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.user-rating-stars {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-rating-text {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #362837;
}

.rating {
    display: flex;
    justify-content: center;
  }
  
.rating input {
    display: none;
}
  
.rating label {
    font-size: 30px;
    cursor: pointer;
}
  
.rating label:hover,
  
.rating input:checked + label {
    color: gold;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.9);
    width: 60%;
    display: none;
    border: black solid;
    border-radius: 10px;
    padding: 30px;
    z-index: 2;
}

.left-popup {
    width: 40%;
    padding: 10px;
}

.upload-image {
    background-color: lightgray;
    padding: 40px;
    border-radius: 10px;
    height: fit-content;
    justify-content: center;
}

.upload-icon {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.upload-icon img {
    width: 40%;
}

.upload-text {
    text-align: center;
    margin-top: 50px;
    font-family: "Kanit", sans-serif;
    color: #362837;
    font-size: larger;
}

.small-icon-row {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.small-img1 {
    background-color: lightgray;
    width: 30%;
    height: 100px;
    border-radius: 10px;
}

.small-img2 {
    background-color: lightgray;
    width: 30%;
    height: 100px;
    border-radius: 10px;
}

.small-img3 {
    background-color: lightgray;
    width: 30%;
    height: 100px;
    border-radius: 10px;
}

.user-rating-stars-popup {
    display: flex;
    justify-content: space-between;
}

.starpopup {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
}

.starpopup:hover, .starpopup.selected {
    color: #ff6600;
}

.right-popup {
    padding: 10px;
    width: 100%;
}

.close-button-popup {
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.close-button-popup img {
    transition: transform 1s;
}

.close-button-popup img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-close-popup {
    width: 40px;
}

.review-table {
    font-family: "Roboto", sans-serif;
    color: #362837;
    font-size: larger;
    font-weight: 500;
}

.review-table td {
    padding: 10px;
    vertical-align: top;
}

.review-table input {
    border-color: #362837;
    background-color: #DED6DE;
    box-shadow: none;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    font-family: "Kanit", sans-serif;
    color: #362837;
}

.review-table textarea {
    border-color: #362837;
    background-color: #DED6DE;
    box-shadow: none;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    font-family: "Kanit", sans-serif;
    color: #362837;
}

.review-types-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.review-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    width: calc(50% - 10px);
    box-sizing: border-box;
    transition: transform 0.2s;
}

.review-option:hover {
    transform: scale(1.05);
}

label {
    margin-left: 10px;
}

.review-option img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: grayscale(1);
    transition: filter 0.3s ease;
} 

.review-option.selected img {
    filter: none;
} 

.review-option input {
    display: none;
}

.submit-button {
    background-color: #63AC43;
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-right: 10px;
    font-family: "Kanit", sans-serif;
    color: white;
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-self: end;
    transition: transform 1s;
}

.submit-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

